<footer class="box-container cf">
  <div class="three-up blocks cf">
    <div class="block">
      <img src="/img/logo-procolombia.png" class="logo" alt="Pro Colombia"><br />
       <img src="/img/alcaldia-barranquilla.png" class="logo" alt="Alcaldia de Barranquilla">
    </div>
    
    <div class="block">
      <div class="vcard">
       <span class="fn org">Explore Colombia</span>
       <p class="h-adr">
         <span class="p-street-address text-block">Carrera 52 #76-167 , Office 305</span>
         <span class="p-locality text-block">Barranquilla</span>
       </p>
       <span class="tel text-block">Tel. (5) 368 4648 - 368 8890</span>
       <span class="tel text-block">Cel. 312 619 4762 - 314 780 7504</span>
      </div>
    </div>
    <div class="block">
      <p class="small text">Síguenos</p>
      <a href="https://www.facebook.com/explorecolombia" class="iconbtn">
        <i class="icon-facebook"></i>
      </a>
      <a href="https://www.instagram.com/explorecolombia_" class="iconbtn">
        <i class="icon-instagram"></i>
      </a>
    </div>
  </div>
</footer>
