<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ page.title }} | {{ site.title }}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link href='https://fonts.googleapis.com/css?family=Lora:400italic,700italic|Roboto:300,300italic,500,500italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/sheetslider.min.css"/>
  <script src="/js/sheetslider.min.js" charset="utf-8"></script>
</head>
